footer
    padding: 14px 23px 39px 23px
    a
        &:hover
            text-decoration: none

.footer

    &_divider
        width: 300px
        height: 4px
        margin: 0 auto
        background-color: $main-color
    &_wrapper
        display: grid
        grid-template-columns: 1fr 1.5fr 1fr
        justify-content: space-between
        align-items: center
        gap: 10px
        padding-top: 32px
    &_social
        display: flex
        justify-content: center
        fdc
        margin: 0 auto
        &_item
            display: flex
            justify-content: center
            align-items: center
            margin: 0 4px
            width: 32px
            height: 32px
            background-color: #070716
            border-radius: 100%
            span
                color: #fff
    &_links
        display: flex
        flex-direction: column
        justify-content: center
        margin: 0 auto

        &_main
            display: flex
            justify-content: space-between
            padding: 0
            a
                color: #070716
                font-size: 15px
                font-weight: 300
                text-transform: uppercase
        &_sub
            display: flex
            justify-content: space-between
            gap: 10px
            margin-top: 10px
            a
                color: #999999
                font-size: 11px
                font-weight: 300
                text-transform: uppercase
        &_lang
            display: block
            margin: 0 auto
            color: $main-color
            font-size: 11px
            font-weight: 400
            margin-top: 20px
            text-transform: uppercase
            text-align: center
    &_mobile
        display: flex
        justify-content: end
